<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Todolist</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<!--Bootsrap 4 CDN-->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
<!--Fontawesome CDN-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

<link rel="stylesheet" href="" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  
  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div>
      <h1>

        <% if(typeof(loggedIn) != 'undefined') {%>
          <% if(loggedIn === true) {%>
            <a href="/home">
          <%}%>
        <% } %>
           
        </a></h1>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          
          <% if(typeof(loggedIn) != 'undefined') {%>
            <% if(loggedIn === true) {%>
           <li class="active"><a href="#"> <%= data[0].username %></a></li>
           <li><a href="/logout">Log-Out</a></li> 
            <%}%>
          <% } %>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
    
  </header><!-- End Header -->
  <!-- <div class="row justify-content-center" style="height:100"></div> -->
  <% if(typeof(loggedIn) != 'undefined') {%>
    <div class="row justify-content-center" style="height:100"></div>
  <% }else{ %>
    <!--  -->
  <% } %>
